{{ form_start(form, {attr: {class: 'stacked'}}) }}
<section class="stack-large">
    <section>
        <div class="section-title">
            Informations générales
        </div>
        <div class="grid">
            {{ form_row(form.name) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.type) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.brand) }}
            {{ form_row(form.cabinet) }}
        </div>
    </section>
    <section>
        <div class="section-title">
            Description
        </div>
        {{ form_row(form.description) }}
    </section>
    <section>
        <div class="section-title">
            Paramètre d'affichage
        </div>
        {{ form_row(form.enabled) }}
    </section>
    <section>
        <button type="submit" class="btn-gradient">Enregistrer</button>
    </section>
</section>
{{ form_end(form) }}