{{ form_start(form, {attr: {class: 'stacked'}}) }}
<section class="stack-large">
    <section>
        <div class="section-title">
            Informations générales
        </div>
        <div class="grid">
            {{ form_row(form.tag) }}
            {{ form_row(form.state) }}
        </div>
    </section>
    <section>
        <div class="section-title">
            Description
        </div>
        <div class="stack">
            {{ form_row(form.comments) }}
        </div>
        <button type="submit" class="btn-gradient">Enregistrer</button>
    </section>
</section>
{{ form_end(form) }}