{% extends 'admin_base.html.twig' %}

{# {% block bodyAttributes %}data-turbo="false"{% endblock %} #}

{% block body %}
    <div class="container">
        <section>
            {% include 'admin/_admin-page_header.html.twig' with {
                icon: 'info',
                title: "Équipement",
            } %}
            <div class="content">
                <div class="grid">
                    <div>
                        <img class="admin-item-thumb" src="{{ vich_uploader_asset(equipment, 'imageFile') }}"/>
                    </div>
                    <div>
                        <div class="text-muted">Nom</div>
                        <h2 class="h2">{{ equipment.name }}</h2>
                    </div>
                    <div>
                        <div class="text-muted mb2">Type</div>
                        <h4 class="h4">{{ equipment.type.name }}</h4>
                    </div>
                    <div>
                        <div class="text-muted mb2">Marque</div>
                        <h4 class="h4">{{ equipment.brand.name }}</h4>
                    </div>
                    <div>
                        <div class="text-muted mb2">Armoire</div>
                        <h4 class="h4">{{ equipment.cabinet }}</h4>
                    </div>
                    <div>
                        <div class="text-muted mb2">Catégories</div>
                        <ul>
                            {% for category in equipment.categories %}
                                <li>{{ category.name }}</li>
                            {% else %}
                                <li>Aucune catégorie</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="admi-page__page-header">
                <div class="title">
                    {{ icon('grid_view') }}
                    <h1>Objets</h1>
                </div>
                <div class="header-actions">
                    <a href="{{ path('admin.equipment.itemform', {id: equipment.id}) }}" class="btn js-modal-btn">Ajouter un objet</a>
                </div>
            </div>
            <div class="content">
                <table class="table js-search-table" style="margin: 20px 0">
                    <thead>
                    <tr>
                        <th>Tag</th>
                        <th>État</th>
                        <th>Dernière mise à jour</th>
                        <th>Ajouté par</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in equipment.items %}
                        <tr>
                            <td>{{ item.tag }}</td>
                            <td>{{ item.stateText }}</td>
                            <td>{{ item.updatedAt | date("d.m.Y H:i") }}</td>
                            <td>{{ item.createdBy.fullname }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucune objet enregistré</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
