{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block bodyAttributes %}data-turbo="false"{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <div class="auth-container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="auth-title hero-title">S'inscrire</h1>

        <div class="auth-form">
            {{ form_start(registrationForm) }}
            <section>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_rest(registrationForm) }}
            </section>
            <div class="mt2 text-right">
                <button type="submit" class="btn-primary">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
