{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'local_shipping',
            title: 'Commandes'
        } %}
        <div class="pills-filter mt2 mb2 hstack-large" style="--gap: 2">
            <a href="{{ path('admin.order.index') }}" class="pill{% if filter is null %} pill-active{% endif %}" style="color: #FF292D; --after-back: #FF292D;">Tout afficher</a>
            {% for state in states %}
                <a href="{{ path('admin.order.index') }}?filter={{ state.slug }}" class="pill{% if filter is same as(state.slug) %} pill-active{% endif %}" style="color: #{{ state.color }}; --after-back: #{{ state.color }};">{{ state.name }}</a>
            {% endfor %}
        </div>
        <div class="content">
            <table class="table js-search-table" style="margin: 20px 0">
                <thead>
                <tr>
                    <th>N° de commande</th>
                    <th>Client</th>
                    <th>Titre du projet</th>
                    <th>Date de création</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.initialZeroId }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.title }}</td>
                        <td>{{ order.createdAt ? order.createdAt|date('d.m.Y H:i:s') : '' }}</td>
                        <td><span class="pill-small pill" style="color: #{{ order.currentStatus.state.color }}">{{ order.currentStatus }}</span></td>
                        <td>
                            <a class="small-btn" href="{{ path('admin.order.show', {'id': order.id}) }}">Afficher</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucune commande n'a été trouvée</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
