{% extends 'admin_base.html.twig' %}


{% block body %}
    <div class="container">
        {# Section du résumer du projet #}
        <section>
            {% include 'admin/_admin-page_header.html.twig' with {
                icon: 'info',
                title: "Commande N°"~order.initialZeroId,
            } %}
            <div class="content">
                <section>
                    <div class="grid" style="--gap: 20px">
                        <div class="p2">
                            <div class="text-muted">ID</div>
                            <h2 class="h2">{{ order.initialZeroId }}</h2>
                        </div>
                        <div class="p2">
                            <div class="text-muted">Client</div>
                            <h2 class="h2">{{ order.client }}</h2>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Statut</div>
                            <span class="pill" style="color: #{{ order.currentStatus.state.color }}">{{ order.currentStatus }}</span>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Nom du projet</div>
                            <h4 class="h4">{{ order.title }}</h4>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Description</div>
                            <p>{{ order.description }}</p>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Enseignant</div>
                            <h4 class="h4">{{ order.teacher }}</h4>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Date de début</div>
                            <h4 class="h4">{{ order.start | date("d.m.Y") }}</h4>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Date de fin</div>
                            <h4 class="h4">{{ order.end | date("d.m.Y") }}</h4>
                        </div>
                        <div class="p2">
                            <div class="text-muted mb2">Date de création de la commande</div>
                            <h4 class="h4">{{ order.createdAt | date("d.m.Y à H:i") }}</h4>
                        </div>
                        <div class="p2 ">
                            <div class="text-muted mb2">Document</div>
                            <div class="">
                                {% if order.currentStatus.state.slug is same as('accepted') %}<a href="{{ path('admin.order.doc', {id: order.id}) }}" class="btn-primary-outlined btn-small" target="_blank">Bon de commande</a>{% else %}<p>Veuillez accepter la commande pour générer le bon de commande.</p>{% endif %}
                            </div>
                        </div>
                        <div class="p2 full">
                            <div class="text-muted mb2">Changement de statut</div>
                            <div class="grid{% if canChangeState is same as(false) %} disabled-feature{% endif %}">

                                {% for state in states %}
                                    {% if status_choices(order.currentStatus, state) %}
                                        {% include 'admin/orders/status_btn/_'~state.slug~'.html.twig' %}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        {# Section de listing de l'équipement #}
        <section>
            <div class="admi-page__page-header">
                <div class="title">
                    {{ icon('grid_view') }}
                    <h1>Équipements</h1>
                </div>
            </div>
            <div class="content">
                <table class="table js-search-table" style="margin: 20px 0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Marque</th>
                        <th>Armoire</th>
                        <th>Tag</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in order.items %}
                        <tr>
                            <td><a target="_blank" class="link" href="{{ path('equipment.show', {id: item.equipment.id, slug: item.equipment.slug }) }}">{{ item.equipment.name }}</a></td>
                            <td>{{ item.equipment.type }}</td>
                            <td>{{ item.equipment.brand }}</td>
                            <td>{{ item.equipment.cabinet }}</td>
                            <td>#{{ item.tag }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun équipement dans cette commande. Ceci est une erreur veuillez contacter le webmaster.</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
        {# Section des documents de la commande #}
        <section>
            <div class="admi-page__page-header">
                <div class="title">
                    {{ icon('file_present') }}
                    <h1>Documents</h1>
                </div>
                <div class="header-actions">
                    <a href="{{ path('admin.order.upload.document', {id: order.id}) }}" class="btn js-modal-btn">Ajouter un document</a>
                </div>
            </div>
            <div class="content">
                <div class="grid" style="--gap: 16px">
                    {% for document in order.documents %}
                        <a class="flat-card p3" target="_blank" href="{{ vich_uploader_asset(document) }}">
                            {{ icon("task") }}
                            <h4 class="h4 mb2">{{ document.title }}</h4>
                            <span class="text-muted">Ajouté par {{ document.createdBy }}</span>
                            <span class="text-muted">{{ document.createdAt | date("d.m.Y à H:i") }}</span>
                        </a>
                    {% else %}
                        <div class="flat-card p3">
                            <h3 class="h3">Aucun document pour cette commande</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Section de la chronologie des événements #}
        <section>
            <div class="admi-page__page-header">
                <div class="title">
                    {{ icon('timeline') }}
                    <h1>Chronologie</h1>
                </div>
            </div>
            <div class="content">
                <div class="timeline grid">
                    <div class="card full timeline-element">
                        <div class="card__body stack">
                            <h2 class="card__title">Création de la commande</h2>
                        </div>
                        <footer class="card__footer text-small">
                            <div class="text-truncate">
                                {{ icon('event') }} {{ order.createdAt | date("d.m.Y") }}
                            </div>
                            <div>
                                {{ icon('person') }} {{ order.client }}
                            </div>
                        </footer>
                    </div>
                    {% for status in order.orderStates %}
                    <div class="card full timeline-element">
                        <div class="card__body stack">
                            <h2 class="card__title">Changement de statut => <span style="color: #{{ status.state.color }}">{{ status.state.name }}</span></h2>
                            <p>{{ status.comments }}</p>
                            {% if status.state.slug is same as("error") %}
                                {% if status.message is not same as(null) %}
                                {% if status.message.message is not same as(null) %}
                                    <p class="accent bold">Une réponse a été délivrée par le client.</p>
                                {% else %}
                                    <p>En attent d'une réponse</p>
                                {% endif %}
                                    {% else %}
                                        <p>En attent d'une réponse</p>
                            {% endif %}
                            {% endif %}
                        </div>
                        <footer class="card__footer text-small">
                            <div class="text-truncate">
                                {{ icon('event') }} {{ status.createdAt | date("d.m.Y à H:i") }}
                            </div>
                            <div>
                                {{ icon('person') }} {{ status.createdBy }}
                            </div>
                        </footer>
                    </div>
                    {% if status.state.slug is same as("error") %}
                        {% if status.message is not same as(null) %}
                        {% if status.message.message is not same as(null) %}
                            {% set message = status.message.message %}
                            <div class="card full timeline-element">
                                <div class="card__body stack">
                                    <h2 class="card__title">Réponse de {{ message.createdBy }} => {{ message.title }}</h2>
                                    <p>"{{ message.content | nl2br }}"</p>
                                </div>
                                <footer class="card__footer text-small">
                                    <div class="text-truncate">
                                        {{ icon('event') }} {{ message.createdAt | date("d.m.Y à H:i") }}
                                    </div>
                                    <div>
                                        {{ icon('person') }} {{ message.createdBy }}
                                    </div>
                                </footer>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
