<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Espace Multimédia{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body class="admin-page" {% block bodyAttributes %}{% endblock %}>

<header class="admin-header">
    <div class="container">
        <a href="#" class="mobile-menu-toggle">
            {{ icon('menu') }}
        </a>
        <div class="search">
            {#<?php if(isset($searchInput)): ?>
            <span class="icon material-icons">search</span>
            <input type="text" placeholder="Rechercher" id="search-input">
            <?php endif ?>#}
        </div>
        <div class="header-actions">
            <a href="/">
                <span class="material-icons-round">logout</span>
            </a>
        </div>
    </div>
</header>

<aside>
    <nav>
        <section>
            <a href="{{ path("admin.index") }}" class="nav-btn" {{ menu_active('home') }}>
                <span class="icon"><i data-feather="trello"></i></span>
                <span class="text">Dashboard</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Objets</span>
            </div>
            <a href="{{ path('admin.equipment.index') }}" class="nav-btn" {{ menu_active('admin.equipment')}}>
                <span class="icon"><i data-feather="video"></i></span>
                <span class="text">Équipement</span>
            </a>
            <a href="{{ path('admin.brand.index') }}" class="nav-btn" {{ menu_active('admin.brand') }}>
                <span class="icon"><i data-feather="at-sign"></i></span>
                <span class="text">Marques</span>
            </a>
            <a href="{{ path('admin.category.index') }}" class="nav-btn" {{ menu_active('admin.category')}}>
                <span class="icon"><i data-feather="tag"></i></span>
                <span class="text">Catégories</span>
            </a>
            <a href="{{ path('admin.type.index') }}" class="nav-btn" {{ menu_active('admin.type')}}>
                <span class="icon"><i data-feather="hash"></i></span>
                <span class="text">Types</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Contenu</span>
            </div>
            <a href="{{ path("admin.content.index") }}" class="nav-btn" {{ menu_active('admin.content') }}>
                <span class="icon"><i data-feather="type"></i></span>
                <span class="text">Contenu</span>
            </a>
            {#<a href="{{ path("admin.mail.index") }}" class="nav-btn" {{ menu_active('admin.mail') }}>
                <span class="icon"><i data-feather="at-sign"></i></span>
                <span class="text">Email</span>
            </a>#}
        </section>
        <section>
            <div class="section-title">
                <span>Salle multimédia</span>
            </div>

            <a href="{{ path('admin.room.index') }}" class="nav-btn" {{ menu_active('admin.room.index') }}>
                <span class="icon"><i data-feather="settings"></i></span>
                <span class="text">Gérer</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Stock</span>
            </div>

            <a href="{{ path('admin.inventory.index') }}" class="nav-btn" {{ menu_active('admin.inventory') }}>
                <span class="icon"><i data-feather="clipboard"></i></span>
                <span class="text">Inventaire</span>
            </a>
            <a href="{{ path('admin.cabinet.index') }}" class="nav-btn" {{ menu_active('admin.cabinet') }}>
                <span class="icon"><i data-feather="package"></i></span>
                <span class="text">Armoires</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Commandes</span>
            </div>
            <a href="{{ path('admin.order.index') }}" class="nav-btn" {{ menu_active('admin.order') }}>
                <span class="icon"><i data-feather="truck"></i></span>
                <span class="text">Commandes</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Administration</span>
            </div>
            <a href="{{ path('admin.user.index') }}" class="nav-btn" {{ menu_active('admin.user') }}>
                <span class="icon"><i data-feather="users"></i></span>
                <span class="text">Utilisateurs</span>
            </a>
            <a href="{{ path('admin.settings.index') }}" class="nav-btn" {{ menu_active('admin.settings') }}>
                <span class="icon"><i data-feather="sliders"></i></span>
                <span class="text">Réglages</span>
            </a>
        </section>
    </nav>
</aside>


<main class="main-content">
    {% block body %}{% endblock %}
</main>


{% for type, message in app.session.flashBag.all %}
    <flash-message type="{{ type }}" message="{{ message[0] }}"></flash-message>
{% endfor %}
</body>
</html>
