<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Espace Multimédia{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body class="admin-page">

<header class="admin-header">
    <div class="container">
        <div class="search">
            {#<?php if(isset($searchInput)): ?>
            <span class="icon material-icons">search</span>
            <input type="text" placeholder="Rechercher" id="search-input">
            <?php endif ?>#}
        </div>
        <div class="header-actions">
            <a href="/">
                <span class="material-icons-round">logout</span>
            </a>
        </div>
    </div>
</header>

<aside>
    <nav>
        <section>
            <a href="#" class="nav-btn" {{ menu_active('home') }}>
                <span class="icon material-icons-round">dashboard</span>
                <span class="text">Dashboard</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Objets</span>
            </div>
            <a href="#" class="nav-btn">
                <span class="icon material-icons-round">camera_alt</span>
                <span class="text">Matériel</span>
            </a>
            <a href="#" class="nav-btn">
                <span class="icon material-icons-round">copyright</span>
                <span class="text">Marques</span>
            </a>
            <a href="#" class="nav-btn">
                <span class="icon material-icons-round">tag</span>
                <span class="text">Catégories</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Commandes</span>
            </div>
            <a href="#" class="nav-btn">
                <span class="icon material-icons-round">local_shipping</span>
                <span class="text">Commandes</span>
            </a>
        </section>
        <section>
            <div class="section-title">
                <span>Administration</span>
            </div>
            <a href="{{ path('admin.user.index') }}" class="nav-btn" {{ menu_active('admin.user') }}>
                <span class="icon material-icons-round">manage_accounts</span>
                <span class="text">Utilisateurs</span>
            </a>
            <a href="#" class="nav-btn">
                <span class="icon material-icons-round">toggle_on</span>
                <span class="text">Réglages</span>
            </a>
        </section>
    </nav>
</aside>


<main class="main-content">
    {% block body %}{% endblock %}
</main>


</body>
</html>
