<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Commande N°{{ order.initialZeroId }}</title>
    <style>
        * {
            font-family: "Ubuntu", sans-serif;
            padding: 0;
            margin: 0;
        }

        body{
            display: flex;
            flex-direction: column;
            padding: 50px;
        }
        header {
            width: 100%;
            margin-bottom: 20px;
        }

        header table{
            width: 100%;
        }

        header .title {
            text-align: right;
        }
        header .title h1 {
            font-size: 30px;
        }

        header .logo img{
            height: 70px;
        }

        header .title h4{
            color: #A3A3A3;
            font-size: 20px;
        }

        main section {
            margin-top: 50px;
            width: 100%;
        }

        main section h2{
            font-size: 20px;
            margin-bottom: 20px;
        }

        main table{
            width: 100%;
            border-collapse: collapse;
            border: none;
        }

        main table th{
            color: #A2A2A2;
            font-weight: 400;
            font-family: "Ubuntu", sans-serif;
            text-align: left;
        }

        main table tr > *{
            padding: 5px 0px;
        }

        main table td{
            color: #000000;
            font-weight: bold;
        }

        main table td:last-child{
            text-align: right;
        }

        .field{
            width: 125px;
            padding: 3px 5px;
            font-size: 20px;
            color: #ffe9ea;
            background-color: #ffe9ea;
            position: relative;
            border-bottom: 1px solid #f14949;
        }

        .field-big{
            width: 165px;
            padding: 3px 5px;
            font-size: 30px;
            color: #ffe9ea;
            background-color: #ffe9ea;
        }

        .field .label {
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 8px;
            color: #ff8080;
        }

    </style>
</head>
<body>
    <header>
        <table>
            <tr>
                <td>
                    <div class="logo">
                        {{ logo | raw }}
                    </div>
                </td>
                <td>
                    <div class="title">
                        <h1>Bon de commande</h1>
                        <h4>{{ order.initialZeroId }}</h4>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <section>
            <h2>Détails de la commande</h2>
            <table>
                <tr>
                    <th>Client</th>
                    <td>{{ order.client }}</td>
                    <th>N° de commande</th>
                    <td>{{ order.initialZeroId }}</td>
                </tr>
                <tr>
                    <th>Enseignant</th>
                    <td>{{ order.teacher }}</td>
                    <th>Date de commande</th>
                    <td>{{ order.createdAt | date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <th>Projet</th>
                    <td>{{ order.title }}</td>
                    <th>Remis le</th>
                    <td>{{ order.orderStates.last.createdAt | date("d.m.Y à H:i") }}</td>
                </tr>
                <tr>
                    <th>Début</th>
                    <td>{{ order.start | date("d.m.Y") }}</td>
                    <th>Remis par</th>
                    <td>{{ order.orderStates.last.createdBy }}</td>
                </tr>
                <tr>
                    <th>Fin</th>
                    <td>{{ order.end | date("d.m.Y") }}</td>
                    <th>Date de récupération</th>
                    <td>_______________</td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Équipements</h2>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>État</th>
                    <th>Remarques</th>
                    <th>Signature client</th>
                    <th>Signature staff</th>
                    <th>Tag</th>
                </tr>
                {% for item in order.items %}
                <tr>
                    <td>{{ item.equipment.name }}</td>
                    <th>{{ item.equipment.brand }}</th>
                    <th>{{ item.stateText }}</th>
                    <td colspan="4">{{ item.tag }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <th style="padding-right: 5px"><div class="field">placeholder</div></th>
                    <th style="padding-right: 5px"><div class="field">placeholder</div></th>
                    <th style="padding-right: 5px"><div class="field">placeholder</div></th>
                    <td></td>
                </tr>
                <tr style="border-bottom: 1px solid #000000">
                    <td colspan="3"></td>
                    <th><div class="field">placeholder</div></th>
                    <td colspan="2"></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <section>
            <h2>Signatures</h2>

            <h4>À signer au début</h4>

            <table class="signtable" style="border-bottom: 1px solid #dcdcdc">
                <tr>
                    <td>
                        <div>{{ app.user }}</div>
                        <div style="font-size: 13px; color: #6d6d6d; font-family: Inter, sans-serif">Staff Espace Multimédia</div>
                        <div class="field-big">placeholder</div>
                        <div class="field" style="margin-top: 5px"><span class="label">Date</span> placeholder</div>
                    </td>
                    <td style="width: 50%"></td>
                    <td style="display: flex; justify-content: flex-end">
                        <div>{{ order.client }}</div>
                        <div style="font-size: 13px; color: #6d6d6d; font-family: Inter, sans-serif">Client</div>
                        <br>
                        <div class="field-big">placeholder</div>
                        <div class="field" style="margin-top: 5px"><span class="label">Date</span> placeholder</div>
                    </td>
                </tr>
            </table>

            <h4 style="margin-top: 20px">À signer à la fin </h4>
            <table class="signtable">
                <tr>
                    <td {# style="padding-bottom: 30px; border-bottom: 1px solid #313131" #}>
                        <div><div class="field"><span class="label">Nom & prénom</span> placeholder</div></div>
                        <div style="font-size: 13px; color: #6d6d6d; font-family: Inter, sans-serif">Enseignant</div>
                        <div class="field-big">placeholder</div>
                        <div class="field" style="margin-top: 5px"><span class="label">Date</span> placeholder</div>
                    </td>
                    <td style="width: 50%"></td>
                    <td style="display: flex; justify-content: flex-end">
                        <div>{{ order.client }}</div>
                        <div style="font-size: 13px; color: #6d6d6d; font-family: Inter, sans-serif">Client</div>
                        <br>
                        <div class="field-big">placeholder</div>
                        <div class="field" style="margin-top: 5px"><span class="label">Date</span> placeholder</div>
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>