<a href="#" class="cart-btn js-cart-toggle" {% if not app.user.carts.empty %}data-is-filled{% endif %}>{{ icon('shopping_cart') }}</a>
<div class="cart js-cart-container">
    <div>
        <div class="cart__header">
            <div class="cart__title">
                <span>Mon panier</span>
            </div>
        </div>
        <div class="cart__body">
            {% if app.user.carts.empty %}
                <div class="cart-item">Aucun équipement n'a été ajouté au panier !</div>
                <div class="cart-item text-center">
                    <a href="{{ path('equipment') }}" class="btn-gradient">Découvrer l'équipement disponible</a>
                </div>
            {% else %}
                {% for cart in app.user.carts %}
                    <a href="{{ path('equipment.show', {id: cart.equipment.id, slug: cart.equipment.slug}) }}" class="cart-item">
                        <div>
                            {{ cart.equipment.categoriesCS }} <br>
                            <strong>{{ cart.equipment.name }}</strong>
                            <strong> ({{ cart.equipment.type.name }})</strong>
                        </div>
                        <small class="text-muted">{{ cart.equipment.brand.name }}</small>
                    </a>
                {% endfor %}
                <div class="cart-item text-center">
                    <a href="{{ path('user.cart') }}" class="btn-gradient">Afficher le panier</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>