<div class="card">
    <div class="card__body stack">
        <h2 class="card__title">
            <a href="{{ path('equipment.show', {id: equipment.id, slug: equipment.slug}) }}">{{ equipment.name }}</a>
        </h2>
        <div class="card__image">
            <img src="{{ vich_uploader_asset(equipment) }}" alt="">
        </div>
    </div>
    <footer class="card__footer text-small">
        <div class="text-truncate">
            {{ icon('bookmark_border') }} {{ equipment.categoriesCS }}
        </div>
        <div>
            {{ icon('copyright') }} {{ equipment.brand.name }}
        </div>
    </footer>
    <div class="card__pills">
        <div class="pill small pill-primary">
            {{ equipment.type.name }}
        </div>
    </div>
    <a class="card__link" href="{{ path('equipment.show', {id: equipment.id, slug: equipment.slug}) }}"></a>
</div>