<nav class="header {% if lightBody is defined %}header-light{% endif %}" style="--color-light: #8491c7;">
    <ul class="header-nav">
        <li class="header__home">
            <a href="{{ path('app.home') }}" {{ menu_active('home') }} title="Accueil">
                {{ icon('home') }}
            </a>
        </li>
        <li><a href="{{ path('equipment') }}" {{ menu_active('hardware') }}>{{ icon('memory') }} Équipement</a></li>
        <li><a href="{{ path('room') }}" {{ menu_active('room') }}>{{ icon('view_in_ar') }} Salle multimédia</a></li>
        <li><a href="{{ path('orders.user') }}" {{ menu_active('myOrder') }}>{{ icon('receipt_long') }} Mes
                commandes</a>
        </li>
        <li><a href="{{ path('app.support') }}" {{ menu_active('support') }}>{{ icon('help_outline') }} Support</a></li>
        {% if app.user.id is defined %}
            {% if app.user.isAdmin %}
            <li><a href="{{ path('admin.index') }}">{{ icon('admin_panel_settings') }} Administration</a></li>
            {% endif %}
        {% endif %}
    </ul>
    {{ include('components/_header-nav_side.html.twig') }}
</nav>