<nav class="header" style="--color-light: #8491c7;">
    <ul class="header-nav">
        <li class="header__home">
            <a href="{{ path('home') }}" {{ menu_active('home') }} title="Accueil">
                {{ icon('home') }}
            </a>
        </li>
        <li><a href="{{ path('hardware') }}" {{ menu_active('hardware') }}>{{ icon('memory') }} Matériel</a></li>
        <li><a href="{{ path('room') }}" {{ menu_active('room') }}>{{ icon('view_in_ar') }} Salle multimédia</a></li>
        <li><a href="{{ path('orders.user') }}" {{ menu_active('myOrder') }}>{{ icon('receipt_long') }} Mes
                commandes</a>
        </li>
        <li><a href="{{ path('support') }}" {{ menu_active('support') }}>{{ icon('help_outline') }} Support</a></li>
    </ul>
    {{ include('components/_header_side.html.twig') }}
</nav>