<ul class="header_side">
    {% if app.user %}
        <li class="header__account">
            <a href="{{ path('user.profil') }}" {{ menu_active('profil') }}>{{ icon('person_outline') }} Username</a>
        </li>
        <li class="header__logout">
            <a href="{{ path('app.logout') }}">{{ icon('logout') }} <span>Se deconnecter</span></a>
        </li>
    {% else %}
        <li class="header-side__auth">
            <a href="{{ path('app.login') }}" {{ menu_active('login') }}>{{ icon('person_outline') }} Se
                connecter</a>
            <span class="text-muted">•</span>
            <a href="{{ path('app_register') }}" {{ menu_active('register') }}>S'inscrire</a>
        </li>
    {% endif %}
</ul>