<nav class="order-card__nav">
    <a href="{{ path('orders.user.show', {id: order.id}) }}" class="order-card__nav-element" {{ tab_active('show.summary') }}>Résumé</a>
    {% if order.errorState is not same as(null) %}<a href="{{ path('orders.user.show.error', {id: order.id}) }}" class="order-card__nav-element nav-element-error" {{ tab_active('show.error') }}>{{ feather('alert-octagon') }} <span>Erreur</span></a>{% endif %}
    <a href="{{ path('orders.user.show.equipment', {id: order.id}) }}" class="order-card__nav-element" {{ tab_active('show.equipment') }}>Équipement</a>
    <a href="{{ path('orders.user.show.chronology', {id: order.id}) }}" class="order-card__nav-element" {{ tab_active('show.chronology') }}>Chronologie</a>
    {#<a href="{{ path('orders.user.show.actions', {id: order.id}) }}" class="order-card__nav-element" {{ tab_active('show.actions') }}>Actions</a>#}

    <a href="{{ path('pdf.order.client', {'id': order.id}) }}" class="order-dl-btn" style="transform: none; height: fit-content; margin-left: auto" target="_blank">{{ feather('arrow-down-circle') }} Bon de commande</a>
</nav>