{% extends 'admin_base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'admin/_admin-page_header.html.twig' with {
            icon: 'copyright',
            title: 'Marques',
            button: {
                path: 'admin.brand.new',
                label: 'Ajouter une marque'
            }
        } %}
        <div class="content">
            <table class="table js-search-table" style="margin: 20px 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Lien</th>
                    <th>Dernière mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for brand in brands %}
                    <tr>
                        <td>{{ brand.id }}</td>
                        <td>{{ brand.name }}</td>
                        <td><a href="{{ brand.link }}" class="link">{{ brand.link }}</a></td>
                        <td>{{ brand.updatedAt ? brand.updatedAt|date('d.m.Y H:i:s') : '' }}</td>
                        <td>
                            <a class="small-btn" href="{{ path('admin.brand.edit', {'id': brand.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune catégories enregistrée</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
